.usersIcons {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #FFE0B2;
}

.initials{
    font-size: .85rem;
    display: flex;
    justify-content: center;
    align-items: center;
}