* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

a, .Link {
    text-decoration: none;
}

.btn-primary {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #F5222D;
    border: none;
    &:hover, &:active, &:focus {
        background-color: #F5222D !important;
        border: none !important;
    }
}

header {
    margin: 3rem 0 1rem 0;
    display: flex;
    align-items: center;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}
