@media screen and (max-width: 900px) {

    .homeHeader {
        h1 {
            margin-left: 1rem;
            margin-top: .5rem;
            font-size: 1.5rem;
        }
    
        .btn-primary {
            margin: .25rem 1rem .25rem 0;
        }
    }

    .searchBar{
        margin-bottom: 1rem;

        label {
            display: none;
        }
        input {
            width: 70%; 
            height: 40px;
        }
    }

    .AddAndEditProjectHeader{
        a {
            margin-left: 1rem;
        }
    }

    form {
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: -2rem;
    
        .formInput{
            margin-top: 1rem;
    
            input, select {
                width: 100%; 
            }
        }


    }
    
    
}

.popover-content{
    max-width: 10rem;
}